.add-task-input {
  background: transparent;
  border-radius: 0;
  display: block;
  outline: 0;
  overflow: hidden;
  resize: none;
  width: 100%;
  border: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-rendering: optimizeSpeed;
  margin-left: 10px;
}
